@media only screen and (max-width: 740px) { 
    #wrapper { background: #f77; } 
    } 
    @media only screen and (max-width: 570px) { 
    #wrapper { background: #7f7; } 
    } 
    @media only screen and (max-width: 480px) { 
    #wrapper {  
        width:40% ;
        float :none ;
    } 
    img {
        max-width: 15%;
        height: auto;
        border: 1px solid black;
        vertical-align: top;
        float: none;  
    }
    h1,h2,h3{
        text-align: center;
    }
    }
    